---
import SlideLayout from "../../layouts/SlideLayout.astro"
import ReverseHeader from "../../components/ReverseHeader.astro"

---

<SlideLayout title="Tutorerne Efterår 2022">
<section>
  <h1>Tutorerne</h1>
  <h2>Efterår 2022</h2>
</section>



<section>
  <ReverseHeader>Hvad kan de?</ReverseHeader>
  <ul class="fragment">
    <li><strong>Kode</strong></li>
    <li>User tests</li>
    <li>Expert reviewer</li>
    <li>Friske øjne / rubber ducking</li>
    <li>De er selv MMD studerende
        <ul>
            <li>2 danske, 2 engelske</li>
        </ul>
    </li>
    <li>Request A Recap™</li>
    <li>Og lignende</li>

  </ul>
</section>

<section>
    <ReverseHeader>Hvordan fanger jeg dem?</ReverseHeader>
    <ul class="fragment">
      <li>Hver onsdag</li>
        <li>På 3.sal (foran A360) </li>
        <li>Og på Teams: <a href="https://bit.ly/3H0tkzE">https://bit.ly/3H0tkzE</a>
        </li>
  
    </ul>
</section>

<section>
    <ReverseHeader>Hvordan får jeg bedst hjælp?</ReverseHeader>
    <ul class="fragment">
        <li>Fortæl hvilket semester i er</li>
        <li>Vis jeres opgave</li>
        <li>Stil spørgsmål</li>
        <li>Fortæl hvordan i er blevet bedt om at løse opgaven</li>
    </ul>
</section>

<section>
    <h1>Og de får løn!</h1>
</section>

<section>
    <ReverseHeader>Jeg har spørgsmål!</ReverseHeader>
    <ul class="fragment">
        <li>Fyr løs</li>
        <li>Jonas Fannikke Holbech</li>
        <li>Fang mig på
            <ol>
                <li>Teams</li>
                <li><a href="mailto:jofh@kea.dk">jofh@kea.dk</a></li>
            </ol>
        </li>
    </ul>
</section>

</SlideLayout>