---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="T7">
    <ol>
        <li><a href="/t7/1.introduction">Introduction</a></li>
        <li><a href="/t7/2.git">Git</a></li>
        <li><a href="/t7/3.template-and-the-dom">Template and the DOM</a></li>
        <li><a href="/t7/4.objects">Objects</a></li>
        <li><a href="/t7/5.fetch-arrays-and-foreach">Fetch, Arrays and forEach</a></li>
        <li><a href="/t7/6.conditionally-showing-data">Conditionally showing data</a></li>
        <li><a href="/t7/7.git-branches">Git, branches</a></li>
        <li><a href="/t7/8.url-parameters">URL Parameters</a></li>
        <li><a href="/t7/9.css-variables">CSS Variables</a></li>
        <li><a href="/t7/10.user-stories">User Stories</a></li>
        <li><a href="/t7/11.restdb-parameters">RestDB parameters</a></li>
        <li><a href="/t7/12.microinteractions">Micro Interactions</a></li>
    </ol>
</OverviewLayout>