---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="Signifly Svelte">
    <ol>
        <li><a href="/signifly-svelte/1.introduction">Introduction</a></li>
        <li><a href="/signifly-svelte/2.setup">Setup</a></li>
        <li><a href="/signifly-svelte/3.basic-components">Basic Components</a></li>
        <!-- <li><a href="/signifly-svelte/4.custom-classes">Custom Classes</a></li> -->
        <li><a href="/signifly-svelte/5.reactivity">Reactivity</a></li>
    </ol>
</OverviewLayout>