<h4>Jonas (Fannikke) Holbech</h4>
<p>jofh@kea.dk</p>
<hr />
<dl>
    <dt>Interests</dt>
    <dd class="fragment">JS, Web</dd>
    <dt>Kids</dt>
    <dd class="fragment">3</dd>
    <dt>Years at KEA</dt>
    <dd class="fragment">7</dd>
    <dt>Mice</dt>
    <dd class="fragment">12</dd>
</dl>