---
---
<section>
  <header>
    <h3>The goal for this session</h3>
  </header>
  <blockquote>
    
     
    <!-- children without a `slot` (or with the `slot="default"`) attribute will go here -->
    <slot />
  </blockquote>
</section>