---
---
<header>
    <h3><slot /></h3>
</header>
    
<style>
    header {
        
        background: var(--r-selection-color);
    }
    h3 {
        color: var(--r-selection-background-color);
    }
</style>