---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="Digitalt Design">
    <ol>
        <li><a href="/digital-design/1.introduktion">Introduktion</a></li>
        <li><a href="/digital-design/2.setup">Setup</a></li>
        <li><a href="/digital-design/3.basic-components">Basic Components</a></li>
        <li><a href="/digital-design/4.custom-classes">Custom Classes</a></li>
        <li><a href="/digital-design/5.javascript">JavaScript</a></li>
    </ol>
</OverviewLayout>