---
import SlideLayout from "../../../layouts/SlideLayout.astro"
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";

---

<SlideLayout title="User Stories">
<section>
  <blockquote>
      <p>As an IE11 user, I want to be able to click the buttons with icons, so that I can complete my interaction with the service</p>
  </blockquote>
  <cite>TopDanmark</cite>
</section>
<section>
    <Goal>
        <ol>
            <li>Understand what user stories are and how they can be helpful</li>
            <li>Understand how data can be modelled and how datatypes are used in modelling</li>
            <li>Practice working with Git, in a group</li>
            <li>Get that nice feeling you get when evaluating the two weeks</li>
        </ol>
    </Goal>
</section>
<section>
    <h2>Agenda</h2> 
    <ul>
        <li>User stories</li>
        <li>Introduction to data modelling</li>
        <li>Git in a group</li>
        <li>Evaluation</li>
    </ul>
</section>
<section>
    <section>
        <h2>Summary</h2>
        <blockquote>
        A user story is an <span class="fragment highlight-blue">informal</span>, general explanation of a software <span class="fragment highlight-blue">feature</span> written from the perspective of the end user. Its purpose is to articulate how a software feature will provide <span class="fragment highlight-blue">value</span> to the customer.
        </blockquote>
    </section>
    <section>
        <blockquote>It's tempting to think that user stories are, simply put, software system requirements. But they're not. </blockquote>
    </section>
    <section>
        <blockquote>A key component of agile software development is putting <span class="fragment highlight-blue">people first</span>, and a user story puts end users at the center of the conversation. These stories use non-technical language to provide <span class="fragment highlight-blue">context</span> for the development team and their efforts. After reading a user story, the team knows <span class="fragment highlight-blue">why</span> they are building, <span class="fragment highlight-blue">what</span> they're building, and what <span class="fragment highlight-blue">value</span> it creates. 
        </blockquote>
    </section>
    <section>
        <blockquote>User stories are one of the core components of an agile program. They help provide a user-focused framework for daily work — which drives collaboration, creativity, and a better product overall.</blockquote>
    </section>
    <section>
        <cite><a href="https://www.atlassian.com/agile/project-management/user-stories">https://www.atlassian.com/agile/project-management/user-stories</a></cite>
    </section>
</section>
<section>
    <section>
        <h1>Cool, how do I make one?</h1>
    </section>
    <section>
        <h2 style="text-transform:none">As a <span contenteditable>[persona]</span>, I <span contenteditable>[want to]</span>, <span contenteditable>[so that]</span>.</h2>
    </section>
</section>
<section>
    <section>
        <h2>But isn't it just a to-do list?</h2>
    </section>
    <section>
        <h1 class="fragment">Yes</h1>
        <p class="fragment">Erh.... I mean no<span class="fragment">?</span></p>
    </section>
    <section>
        <blockquote>
        <strong>Stories keep the focus on the user.</strong> A To Do list keeps the team focused on tasks that need checked off, but a collection of stories keeps the team focused on solving problems for real users.
        </blockquote>
    </section>
    <section>
        <blockquote>
        <strong>Stories enable collaboration.</strong> With the end goal defined, the team can work together to decide how best to serve the user and meet that goal.
        </blockquote>
    </section>
    <section>
        <blockquote>
        <strong>Stories drive creative solutions.</strong> Stories encourage the team to think critically and creatively about how to best solve for an end goal.
        </blockquote>
    </section>
    <section>
        <blockquote>
        <strong>Stories create momentum.</strong> With each passing story the development team enjoys a small challenges and a small win, driving momentum.  
        </blockquote>
    </section>
</section>
<section>
    <section>
        <h1>How to write user stories</h1>
    </section>
    <section>
        <blockquote>
            <strong>Definition of “Done”</strong> — The story is generally “done” when the user can complete the outlined task, but make sure to define what that is.
        </blockquote>
    </section>
    <section>
        <blockquote>
            <strong>Outline subtasks or tasks</strong> — Decide which specific steps need to be completed and who is responsible for each of them.
        </blockquote>
    </section>
    <section>
        <blockquote><strong>User personas</strong> — For Whom? If there are multiple end users, consider making multiple stories.</blockquote>
    </section>
    <section>
        <blockquote><strong>Ordered Steps</strong> — Write a story for each step in a larger process.</blockquote>
    </section>
    <section>
        <blockquote><strong>Listen to feedback</strong> — Talk to your users and capture the problem or need in their words. No need to guess at stories when you can source them from your customers.</blockquote>
    </section>
    <section>
        <blockquote><strong>Time</strong> — Time is a touchy subject. Many development teams avoid discussions of time altogether, relying instead on their estimation frameworks. Since stories should be completable in one sprint, stories that might take weeks or months to complete should be broken up into smaller stories or should be considered their own epic.</blockquote>
    </section>
</section>
<section>
    <p><a href="https://twitter.com/ShitUserStory">https://twitter.com/ShitUserStory</a></p>
    <p><a href="https://www.atlassian.com/agile/project-management/user-stories">https://www.atlassian.com/agile/project-management/user-stories</a></p>
</section>
<section>
    <h2>Introduction to data modelling</h2>
</section>
<section>
    <h1>Git in a group</h1>
</section>
<section>
    <h1>Evaluation</h1>
</section>


</SlideLayout>