---
import SlideLayout from "../../../layouts/SlideLayout.astro"
import Goal from "../../../components/Goal.astro"
import AgendaSection from "../../../components/AgendaSection.astro"
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";

const snippets = await codeFetcher("signifly-svelte/3.basic-components",[
    "basic-1.svelte",
    "basic-2.svelte",
    "basic-3.svelte",
    "basic-4.svelte",
    "import-1.svelte",
    "import-2.svelte",
    "slot-1.svelte",
    "slot-2.svelte",
    "props-1.svelte",
    "props-2.svelte",
    "props-3.svelte",
    "Interpolation.svelte",
])

---

<SlideLayout title="Basic Components" lang="da">
    <AgendaSection h2="Basic Components" p="jofh@kea.dk">
        <section>
            <p>I'm thinking you will build a todo list today</p>
            <p>Is that too boring?</p>
        </section>
    </AgendaSection>
   
   <AgendaSection header="Structure">
        <section>
            <h3>Rules for components</h3>
            <ol>
                <li>Capitalized filename</li>
                <li>.svelte extension</li>
                <li>ex <code>Card.svelte</code></li>
                <li>All tags must be closed</li>
                <li><code class="fragment strike">&lt;Card&gt;</code> <span class="fragment"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
  <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></span></li>
                <li><code>&lt;Card /&gt;</code> <span class="fragment"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" fill="rgb(12, 159, 44)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg></span></li>
                <li><code>&lt;Card&gt;&lt;/Card&gt;</code> <span class="fragment"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" fill="rgb(12, 159, 44)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg></span></li>
            </ol>
        </section>
    <section>
        <p>Like <code>vue</code> all components are built around three elements</p>
        <ol>
            <li class="fragment"><code>&lt;script&gt;</code></li>
            <li class="fragment">markup</li>
            <li class="fragment"><code>&lt;style&gt;</code></li>
        </ol>
    </section>
    <section data-auto-animate>
        <Code dataId="basic" code={snippets["basic-1.svelte"]} language="html" />
    </section>

    <section data-auto-animate>
        <Code dataId="basic" code={snippets["basic-2.svelte"]} language="html" />
    </section>

    <section data-auto-animate>
        <Code dataId="basic" code={snippets["basic-3.svelte"]} language="html" />
    </section>

    <section data-auto-animate>
        <Code dataId="basic" code={snippets["basic-4.svelte"]} language="html" stretch />
    </section>

   </AgendaSection>

   

    
    <AgendaSection header="<code>import</code>">
        <section>
            <p>Components are imported</p>
            <p>But never exported!</p>
        </section>

        <section>
            <Code code={snippets["import-1.svelte"]} lineNumbers="1-3|5|7-12"/>
            <div class="fragment">
            <Code code={snippets["import-2.svelte"]} lineNumbers="0|1-4|6-11|9" />
            </div>
        </section>
        <section>
            <p>Try it out</p>
            <p>Create a component, import it, try scoped styling</p>
        </section>
    </AgendaSection>

    <AgendaSection header="Basic syntax">
        <section>
            <h3><code>slots</code></h3>
            <Code code={snippets["slot-1.svelte"]} lineNumbers="1,3"/>
            <div class="fragment">
            <Code code={snippets["slot-2.svelte"]} lineNumbers="2,9" />
            </div>
        </section>
        <section>
            <p><code>/ɪntəːpəˈleɪʃ(ə)n/</code></p>
            <Code code={snippets["Interpolation.svelte"]} />
        </section>
        <section>
            <div>
                <h4>sending props</h4>
                <Code code={snippets["props-2.svelte"]}  />
            </div>
            <div class="fragment">
            <h4>receiving props</h4>
                <Code code={snippets["props-3.svelte"]} lineNumbers="1-12|3,9" />
            </div>
        </section>
    </AgendaSection>
    <section>
        <h2>Wanna try it out?</h2>
        <p>Build a quick setup for a todo list</p>

    </section>
</SlideLayout>