---
import OverviewLayout from "../../layouts/OverviewLayout.astro"
---
<OverviewLayout title="React">
    <ol start="0">
        <li><a href="/react/0.need-to-know-js">Need to know JS</a></li>
        <li><a href="/react/1.introduction">Introducing..... React</a></li>
        <li><a href="/react/2.build-this-layout-v2">Build this layout, #2</a></li>
        <li><a href="/react/3.mini-animal-base">Mini Animal Base</a></li>
        <li><a href="/react/4.mini-todo-list">Mini ToDo List</a></li>
        <li><a href="/react/5.pagination">Pagination</a></li>
        <li><a href="/react/6.forms">Forms</a></li>
        <li><a href="/react/7.other-peoples-code">Other peoples code</a></li>
        <li><a href="/react/8.deploy">Deploy</a></li>
        <li><a href="/react/9.advanced-hooks">Advanced Hooks</a></li>
        <li><a href="/react/10.react-router">React Router</a></li>
    </ol>
</OverviewLayout>